body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.dropdown-heading:hover{
  border: 1px solid #FF6347 !important;
}
.dropdown-heading:focus{
  border: 1px solid #FF6347 !important;
}

.num-input{
  padding:10px
}

.padding-input{
  margin-left:0px !important
}

.buttonImg{
  width: 74px;
  height: 74px;
  padding:8px;
  text-align: center;
  display: inline-block;
}

.buttonSelected{
  background-color: #FF6347 !important;
  color:white !important;
}

.buttonFilter{
  width: 100px;
  height: 80px;
  background-color: #eeeeeeff;
  border-color: #FF6347;
  color: #FF6347;
}

.expand{
  cursor: pointer;
  font-size: 16px;
  font-weight: bolder;
}

.border{
  background-color: #ccccccff;
  border: 1px solid #FF6347;
  padding: 10px;
}

.margin-left-span{
  margin-left: 16px;
}

.num-input-span{
  margin-right:4px;
}

.a-span{
  margin-right: 12px !important;
}

.numbersContainer{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}

.numbersContainer > .container{
  text-align: center;
}

.gridrow{
  display: grid;
  grid-template-columns: 33% 33% 32%;
  grid-gap: 10px;
}

.others{
  background-color: #ccccccff;
  border: 1px solid #FF6347;
  padding: 10px;
}

.expand{
  padding: 5px;
}

@media only screen and (max-width: 600px) {
  .numbersContainer{
    grid-template-columns: auto;
    grid-template-rows: 50% 50%;
  }

  .gridrow{
    grid-template-columns: auto;
    grid-template-rows: 33% 33% 32%;
    grid-gap: 10px;
  }
}