body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.dropdown-heading:hover{
  border: 1px solid #FF6347 !important;
}
.dropdown-heading:focus{
  border: 1px solid #FF6347 !important;
}

.num-input{
  padding:10px
}

.padding-input{
  margin-left:0px !important
}